---
import Basket from "../../layouts/Basket.astro";
import Steps from "../../components/basket/step-2/Steps.astro";
import Header from "../../components/global/Header.astro";
import ProductList from "../../components/basket/step-1/ProductList.astro";
import DiscountDetails from "../../components/basket/step-1/DiscountDetails.astro";
import ContinueBtn from "../../components/basket/ContinueBtn.astro";
import UserData from "../../components/basket/step-1/UserData.astro";
import MapAddress from "../../components/basket/step-1/MapAddress.astro";
import AddressFullData from "../../components/basket/step-1/AddressFullData.astro";
---

<Basket>
  <Header />
  <Steps step={1} />
  <ProductList />
  <div class="text-center text-xs text-gray-400 lg:hidden">
    شما هم می توانید با امتیاز دهی به محصولات کد تخفیف دریافت کنید
  </div>

  <div class="mb-5 flex flex-col gap-5 lg:flex-row lg:gap-2">
    <div
      class="flex items-end gap-2 lg:w-8/12 lg:flex-row-reverse lg:justify-self-end"
    >
      <div class="relative flex-1">
        <input
          type="text"
          id="discount-code-input"
          placeholder="کد تخفیف"
          class="h-12 w-full rounded-full border border-transparent bg-gray-100 text-center text-sm text-black outline-none lg:h-16 lg:px-5 lg:text-right lg:text-lg"
        />
        <div
          class="absolute bottom-0 left-0 top-0 hidden w-16 items-center justify-center lg:flex"
        >
          <i class="fa-solid fa-arrow-left-long text-xl text-primary"></i>
        </div>
        <!--remove invisible to make it visible-->
        <span
          class="invisible absolute right-0 top-full mt-3 ps-5 text-right text-red-500"
        >
          کد وارد شده نامعتبر است!
        </span>
      </div>

      <DiscountDetails />
    </div>

    <div class="flex flex-shrink-0 flex-col gap-5 lg:flex-1">
      <div
        class="flex flex-col gap-3 border-b-2 border-dashed pb-5 lg:border-0 lg:pb-0"
      >
        <div
          class="hidden-discount flex items-center justify-between transition-all duration-300 lg:text-xl"
          id="discount-value"
        >
          <div
            class="font-light text-gray-400 lg:text-lg lg:font-semibold lg:text-ct-club-primary"
          >
            تخفیف
          </div>
          <div
            class="flex gap-1 font-bold text-gray-600 lg:font-semibold lg:text-ct-club-primary"
          >
            <span class="price">333,333</span>
            <span>تومان</span>
          </div>
        </div>
        <div class="flex items-center justify-between lg:hidden">
          <div class="font-light text-gray-400">جمع کل</div>
          <div class="font-bold text-gray-600">73,323 تومان</div>
        </div>
      </div>

      <div class="flex items-center justify-between lg:gap-2">
        <span
          class="font-light text-gray-400 before:content-['مجموع_پرداختی'] lg:font-medium lg:before:content-['قیمت_نهایی']"
        ></span>
        <span class="text-2xl font-bold text-gray-600">713,323,885 تومان</span>
      </div>

      <ContinueBtn />
    </div>
  </div>
  <div
    class="-mt-2 flex items-center gap-2 text-justify text-[0.6rem] text-gray-300 md:text-[0.65rem] lg:mt-0 lg:items-center lg:text-sm xl:text-[1rem] 2xl:text-[0.98rem]"
  >
    <i class="fa-regular fa-hexagon-exclamation text-xl text-primary"></i>
    بنا بر محدود بودن کالا های سی تلکام، افزودن کالا به سبد خرید به معنی رزرو آن
    محصول نیست. پس قبل از اتمام موجودی، همین حالا سبد خودتون را ثبت و خریدتون رو
    نهایی کنید
  </div>
  <hr />

  <!--Remove hidden class to show it or add to hide-->
  <form
    id="user-data-inputs"
    class="step-1 fixed bottom-0 left-0 right-0 top-0 z-[100] flex items-center justify-center overflow-auto bg-white/20 px-5 py-10 backdrop-blur-xl"
  >
    <div class="relative my-auto w-full max-w-[22rem] md:max-w-[40rem]">
      <div class="shadow-element"></div>
      <div class="shadow-element"></div>
      <div class="relative w-full rounded-3xl">
        <UserData />
        <MapAddress />
        <AddressFullData />
      </div>
    </div>
  </form>
</Basket>
<style lang="scss" is:global>
  #discount-code-input.success {
    @apply border-emerald-400 bg-emerald-100 text-emerald-400 #{!important};
  }

  #discount-code-input.error ~ span {
    @apply visible #{!important};
  }

  #discount-code-input.error {
    @apply border-red-400 bg-red-100 text-red-400 #{!important};
  }

  .hidden-discount {
    @apply translate-y-10 opacity-0 #{!important};
  }

  #user-data-inputs,
  .shadow-element,
  #address-on-map-wrapper,
  #full-address-wrapper,
  #user-data-wrapper {
    @apply origin-top transition-[cubic-bezier(0.645,0.045,0.355,1)] duration-700;
  }

  :root {
    --transform-y-first: 0rem;
    --transform-y-last: 0rem;
    --opacity-first: 1;
    --opacity-last: 1;
    --margin-first: 0%;
    --margin-last: 0%;

    --opacity-step-1: 0;
    --scale-step-1: 1.1;
    --translate-y-step-1: 2rem;
    --opacity-step-2: 0;
    --scale-step-2: 1.1;
    --translate-y-step-2: 2rem;
    --opacity-step-3: 0;
    --scale-step-3: 1.1;
    --translate-y-step-3: 2rem;
    --height-step-1: absolute;
    --position: absolute;
    --z-index: 1;
    --pointer: none;
  }

  .step-2 {
    --transform-y-first: -3%;
    --opacity-first: 0.9;
    --margin-first: 3%;
  }

  .step-3 {
    --transform-y-last: 3%;
    --opacity-first: 0.4;
    --margin-first: 8%;

    --transform-y-first: -6%;
    --opacity-last: 0.9;
    --margin-last: 3%;
  }

  .step-1 #user-data-wrapper {
    --pointer: auto;
    --position: relative;
  }

  .step-2 #address-on-map-wrapper {
    --pointer: auto;
    --position: relative;
  }

  .step-3 #full-address-wrapper {
    --pointer: auto;
    --position: relative;
  }

  .shadow-element:first-child {
    @apply scale-[--scale-first] opacity-[--opacity-first] transition-all duration-700;
    @apply absolute bottom-0 left-[--margin-first] right-[--margin-first] top-0 rounded-3xl bg-primary;
    translate: 0 var(--transform-y-first);
  }

  .shadow-element:nth-child(2) {
    @apply -translate-y-[--transform-y-last] opacity-[--opacity-last] transition-all duration-700;
    @apply absolute bottom-0 left-[--margin-last] right-[--margin-last] top-0 rounded-3xl bg-primary;
  }

  .step-1 {
    --translate-y-step-1: 0;
    --opacity-step-1: 1;
    --scale-step-1: 1;
    --height-step-1: flex;
  }

  .step-2 {
    --translate-y-step-1: -2rem;
    --opacity-step-1: 0;
    --scale-step-1: 0.9;
    --translate-y-step-2: 0;
    --opacity-step-2: 1;
    --scale-step-2: 1;
  }

  .step-3 {
    --translate-y-step-2: -2rem;
    --opacity-step-2: 0;
    --scale-step-2: 0.9;
    --translate-y-step-3: 0;
    --opacity-step-3: 1;
    --scale-step-3: 1;
  }
  #user-data-inputs .validator-err {
    @apply text-xs text-red-600;
  }
</style>
<script>
  import { Validator, faLang as fa } from "@upjs/facile-validator";
  const form = document.querySelector("form");
  const v = new Validator(form, {
    lang: fa,
    onFieldChangeValidation: true,
  });

  form.addEventListener("submit", (e) => {
    if (!v.validate()) e.preventDefault();
  });
</script>
