<span
  id="correct-phone"
  class="absolute hidden h-full w-full items-center justify-center gap-4 rounded-[1.85rem] border border-emerald-400 bg-emerald-100 px-10 text-3xl font-semibold text-emerald-400"
>
  <span id="user-phone" class="phone-placeholder mt-2">00000000000</span>
  <span
    class="flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-full bg-emerald-400"
  >
    <span class="h-2 w-4 -rotate-45 border-b-[3px] border-l-[3px] border-white"
    ></span>
  </span>
</span>
