---
---

<div class="mt-12 flex flex-col gap-5 lg:mb-8 lg:gap-0">
  <div class="flex justify-between">
    <h2
      data-mobile-text="آدرس"
      data-desktop-text="سفارش شما به آدرس زیر ارسال می‌شود"
      class="text-3xl font-semibold after:content-[attr(data-mobile-text)] lg:text-2xl lg:after:content-[attr(data-desktop-text)]"
    >
    </h2>
    <button
      type="button"
      class="flex h-10 items-center rounded-md border border-gray-400 px-5 text-gray-500 transition-all duration-300 hover:bg-gray-400 hover:text-white lg:rounded-3xl lg:px-12 lg:text-xl"
      >تغیر آدرس
    </button>
  </div>
  <div class="flex flex-col gap-2 lg:mt-4">
    <div class="flex">
      <div>
        <span
          data-name
          class="flex-shrink-0 whitespace-nowrap pe-5 text-xl font-semibold text-gray-500"
        >
          علیرضا شادمان
        </span>
      </div>
      <div
        class="mr-auto hidden items-center gap-1 whitespace-nowrap text-gray-500 lg:flex"
      >
        <span>شماره تماس:</span>
        <b class="font-semibold" data-phone>09303929013</b>
      </div>
    </div>
    <div class="mt-1 overflow-hidden border-gray-300 lg:border-none">
      <p
        class="whitespace-normal text-justify font-light text-gray-500 lg:text-xl"
      >
        <b class="font-bold text-gray-950">آدرس:</b>
        استان تهران, شهر تهران, بلوار میرداماد بعد از پمپ بنزین مجتمع کامپیوتر پایتخت،
        برج آ، طبقه چهارم واحد۴۰۴
      </p>
    </div>
  </div>
</div>
<style is:global></style>
