---
const types = [
  { name: "تحویل حضوری", icon: "fa-regular fa-shop", id: "in_person" },
  {
    name: "ارسال توسط سی تلکام",
    icon: "fa-regular fa-moped",
    id: "ct_express",
  },
  {
    name: "ارسال از طریق پست",
    icon: "fa-regular fa-truck",
    id: "ir_global_post",
  },
];
---

<div class="flex flex-1 flex-col gap-5">
  <div class="flex flex-col gap-1.5">
    <h2 class="text-3xl font-semibold lg:text-xl">انتخاب نحوه ارسال مرسوله</h2>
    <span
      data-mobile-text="برای انتخاب لطفا ضربه بزنید"
      data-desktop-text="برای انتخاب لطفا کلیک کنید"
      class="text-sm font-light text-gray-500 after:content-[attr(data-mobile-text)] lg:text-lg lg:after:content-[attr(data-desktop-text)]"
    >
    </span>
  </div>

  <div class="relative">
    <input type="checkbox" hidden class="peer" id="delivery_type_visiblity" />
    <label
      for="delivery_type_visiblity"
      data-delivery-type-trigger
      class="relative z-10 flex h-20 w-full cursor-pointer items-center justify-between gap-5 rounded-3xl bg-gray-100 px-5 py-4 text-lg font-semibold text-black lg:hidden"
    >
      <span>نوع ارسال را انتخاب کنید</span>
      <span
        class="flex aspect-square h-full items-center justify-center rounded-[40%] border-2 border-black text-2xl text-black"
      >
        <i class="fa-regular fa-arrow-up-right-and-arrow-down-left-from-center"
        ></i>
      </span>
    </label>

    <div
      data-delivery-box
      class="pointer-events-none absolute bottom-full z-10 mb-2 flex origin-bottom-right scale-0 items-center justify-center bg-white bg-opacity-50 opacity-0 backdrop-blur-md transition-all duration-300 peer-checked:pointer-events-auto peer-checked:scale-100 peer-checked:opacity-100 lg:pointer-events-auto lg:relative lg:bottom-[unset] lg:mb-0 lg:block lg:scale-100 lg:opacity-100"
    >
      <div
        class="relative flex min-w-[20rem] flex-col gap-5 rounded-3xl border bg-white py-5 lg:w-full lg:flex-1 lg:flex-row lg:gap-0 lg:rounded-none lg:border-none lg:py-0"
      >
        <h3 class="text-center font-medium lg:hidden">انتخاب نوع ارسال</h3>
        <label
          for="delivery_type_visiblity"
          class="absolute right-5 top-5 flex h-5 w-5 cursor-pointer items-center justify-center text-lg lg:hidden"
        >
          <i class="fa-solid fa-close"></i>
        </label>
        <div
          class="flex w-full flex-col items-center justify-between gap-5 px-5 lg:flex-row lg:gap-0 lg:px-0"
        >
          {
            types.map(({ name, icon, id }) => (
              <div class="delivery-types flex w-full cursor-pointer flex-row items-center justify-center gap-3 overflow-hidden rounded-2xl border border-dashed border-gray-700 lg:w-auto lg:flex-col lg:overflow-visible lg:border-none">
                <input
                  class="peer"
                  type="radio"
                  name="delivery_type"
                  hidden="hidden"
                  id={id}
                  value={id}
                />
                <label
                  for={id}
                  class="flex h-14 w-full flex-1 cursor-pointer flex-row items-center gap-4 px-5 peer-checked:bg-black peer-checked:text-white lg:flex-col lg:justify-center lg:peer-checked:bg-transparent lg:peer-checked:text-gray-800"
                >
                  <span class="flex aspect-square cursor-pointer items-center justify-center gap-2 rounded-full shadow-none shadow-primary transition-all duration-300 lg:w-32 lg:bg-black lg:text-4xl lg:text-white lg:hover:bg-gray-900  ">
                    <i class="" class:list={[icon]} />
                  </span>

                  <span class="text-center font-medium transition-all duration-300 group-checked:text-primary">
                    {name}
                  </span>
                </label>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <div
      class="pointer-events-none fixed bottom-0 left-0 right-0 top-0 bg-white/50 opacity-0 backdrop-blur-md transition-opacity duration-300 peer-checked:opacity-100 lg:peer-checked:hidden"
    >
    </div>
  </div>
</div>
<style>
  @screen lg {
    .delivery-types input:checked ~ label span:first-child {
      @apply bg-primary shadow-[0_0_20px_-5px] shadow-primary;
    }
  }
</style>
