---
const products = [
  {
    name: "Samsung Galaxy A24",
    id: "CTT۲۵۶۷۱۴۱۱۱۹",
    color: "#C3BEC4",
    price: "10,218,600",
    qty: 2,
    image: "https://nullee.storage.iran.liara.space/phone1.jpg",
  },
  {
    name: "iPhone 14 Pro Max",
    id: "CKK۲۵۶۷۱۴۱۱۱۹",
    color: "#F6CF6F",
    price: "75,545,000",
    qty: 1,
    image: "https://nullee.storage.iran.liara.space/phone4.jpg",
  },
  {
    name: "Nokia C31",
    id: "CTA۲۵۶۷۱۴۱۱۱۹",
    color: "#97B2A7",
    price: "4,799,000",
    qty: 7,
    image: "https://nullee.storage.iran.liara.space/phone3.jpg",
  },
  {
    name: "Xiaomi Poco X5",
    id: "CTN۲۱۲۱۵۷۹۲۲",
    color: "#FCC01F",
    price: "15,544,000",
    qty: 3,
    image: "https://nullee.storage.iran.liara.space/phone2.jpg",
  },
];
---

<div
  class="flex h-full flex-col gap-1 rounded-xl border-2 border-dashed border-gray-400 px-5 pb-7 pt-3"
>
  <div class="flex items-center gap-2 text-gray-500">
    <i class="fa-regular fa-box-check text-sm"></i>
    <h3 class="font-light">محصولات</h3>
  </div>
  <div class="flex flex-1">
    <div class="product-review-slider relative flex-1 overflow-hidden">
      <div class="swiper-wrapper">
        {
          products.map(({ image, name }) => (
            <div class="swiper-slide h-full w-full" style="scale:1">
              <img src={image} alt={name} />
            </div>
          ))
        }
      </div>
      <div
        class="absolute bottom-0 left-0 top-0 z-30 flex items-center justify-center pl-1"
      >
        <div
          class="absolute inset-0 bg-gradient-to-r from-white to-transparent opacity-80"
        >
        </div>

        <button
          class="button-next flex h-5 w-5 items-center justify-center rounded-[40%] bg-white/70 backdrop-blur-sm disabled:hidden"
        >
          <i class="fa-solid fa-chevron-left text-sm"></i>
        </button>
      </div>

      <div
        class="absolute bottom-0 right-0 top-0 z-30 flex items-center justify-center pr-1"
      >
        <div
          class="absolute inset-0 bg-gradient-to-l from-white to-transparent opacity-80"
        >
        </div>
        <button
          class="button-prev flex h-5 w-5 items-center justify-center rounded-[40%] bg-white/70 backdrop-blur-sm disabled:hidden"
        >
          <i class="fa-solid fa-chevron-right text-sm"></i>
        </button>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
<script>
  var swiper = new Swiper(".product-review-slider", {
    slidesPerView: 1.4,
    centeredSlides: true,
    navigation: {
      nextEl: ".button-next",
      prevEl: ".button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
  });
</script>
<style is:global>
  .product-review-slider
    .swiper-pagination-bullet.swiper-pagination-bullet-active-main {
    @apply w-4 rounded-md bg-black;
  }

  .swiper-slide img {
    @apply block h-full w-full object-contain;
  }
</style>
