---
import TextInput from "./TextInput.astro";
---

<div
  class="flex flex-1 translate-y-5 scale-110 flex-col gap-5 opacity-0"
  id="user-data-wrapper"
>
  <div class="flex w-full items-center justify-center gap-3">
    <i class="fa-regular fa-id-card-clip mb-1.5 text-2xl text-gray-500"></i>
    <h2 class="text-xl font-semibold text-primary">ثبت اطلاعات شناسایی</h2>
  </div>
  <div class="mb-5">
    <p class="text-justify font-semibold text-gray-500">
      لطفا اطلاعات شناسایی خود را وارد کنید. نام و نام خانوادگی شما باید با
      اطلاعاتی که وارد می‌کنید هم خوانی داشته باشند
    </p>
  </div>
  <div class="grid grid-cols-12 gap-5 gap-x-2">
    <div class="col-span-12">
      <TextInput
        isRequired
        name="name"
        placeholder="نام خود را وارد کنید"
        label="نام"
      />
    </div>
    <div class="col-span-12">
      <TextInput
        isRequired
        name="name"
        placeholder="نام خانوادگی خود را وارد کنید"
        label="نام خانوادگی"
      />
    </div>

    <div class="col-span-6">
      <TextInput
        isRequired
        name="name"
        placeholder="کد ملی شما"
        label="کد ملی"
      />
    </div>
    <div class="col-span-6">
      <TextInput
        isRequired
        name="name"
        placeholder="شماره تلفن شما"
        label="شماره تلفن"
      />
    </div>
    <div class="col-span-7">
      <label class="relative flex w-full flex-col gap-2">
        <span class="ms-3 text-sm font-semibold">
          <span>تاریخ تولد</span>
        </span>
        <input
          data-jdp
          data-jdp-max-date="1395/1/1"
          name="birth_date"
          class="h-11 w-full rounded-2xl border border-gray-200 bg-white px-3 text-gray-800 outline-1 outline-primary"
        />
        <span
          class="absolute bottom-0 left-0 flex h-11 w-12 items-center justify-center"
        >
          <i class="fa-regular fa-calendar-days text-gray-500"></i>
        </span>
      </label>
    </div>

    <div class="col-span-5 ps-4">
      <div class="flex h-full flex-col gap-2">
        <div class="text-sm font-semibold">جنسیت</div>
        <div class="relative flex w-full flex-1 select-none gap-5">
          <label class="flex items-center gap-2">
            <input
              name="gender"
              value="female"
              class="peer"
              hidden
              type="radio"
            />
            <span
              class="flex h-4 w-4 items-center justify-center rounded-full border border-primary after:absolute after:h-3 after:w-3 after:scale-0 after:rounded-full after:transition-all after:duration-100 peer-checked:after:scale-100 peer-checked:after:bg-primary"
            ></span>
            زن
          </label>
          <label class="flex items-center gap-2">
            <input
              checked
              name="gender"
              class="peer"
              value="male"
              hidden
              type="radio"
            />
            <span
              class="flex h-4 w-4 items-center justify-center rounded-full border border-primary after:absolute after:h-3 after:w-3 after:scale-0 after:rounded-full after:transition-all after:duration-100 peer-checked:after:scale-100 peer-checked:after:bg-primary"
            ></span>
            مرد
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    jalaliDatepicker.startWatch({
      showTodayBtn: false,
      showEmptyBtn: false,
      maxDate: "today",
    });
  });
</script>
