---
---

<button
  type="submit"
  id="submit-btn"
  class="ms-auto flex max-w-sm flex-1 items-center justify-center gap-5 rounded-full bg-primary px-5 ps-10 text-white disabled:bg-gray-400"
>
  <span>تایید و مرحله بعدی</span>
  <i class="fa-solid fa-arrow-left-long w-5"></i>
</button>
