---
---

<button
  type="submit"
  class="flex h-16 items-center justify-center gap-2 rounded-full bg-primary px-10 pr-8 text-xl font-semibold text-white lg:gap-8"
>
  تایید و مرحله بعد
  <i class="fa-solid fa-arrow-left-long"></i>
</button>
