---
import Layout from "../layouts/Layout.astro";
import Header from "../components/global/Header.astro";
import SignInForm from "../components/signin/SignInForm.astro";
import SinginSlider from "../components/signin/SinginSlider.astro";
---

<Layout title="Sing in">
  <main class="flex min-h-screen select-none">
    <!--Forms Start-->
    <SignInForm />
    <!--Form End-->
    <!--Slider start-->
    <SinginSlider />
    <!--Slider end-->
  </main>
</Layout>
