---
import Layout from "../layouts/Layout.astro";
const products = [
  {
    name: "Samsung Galaxy A24",
    id: "CTT۲۵۶۷۱۴۱۱۱۹",
    color: "#C3BEC4",
    price: "10,218,600",
    qty: 2,
    image: "https://nullee.storage.iran.liara.space/phone1.jpg",
  },
  {
    name: "iPhone 14 Pro Max",
    id: "CKK۲۵۶۷۱۴۱۱۱۹",
    color: "#F6CF6F",
    price: "75,545,000",
    qty: 1,
    image: "https://nullee.storage.iran.liara.space/phone4.jpg",
  },
  {
    name: "Nokia C31",
    id: "CTA۲۵۶۷۱۴۱۱۱۹",
    color: "#97B2A7",
    price: "4,799,000",
    qty: 7,
    image: "https://nullee.storage.iran.liara.space/phone3.jpg",
  },
  {
    name: "Xiaomi Poco X5",
    id: "CTN۲۱۲۱۵۷۹۲۲",
    color: "#FCC01F",
    price: "15,544,000",
    qty: 3,
    image: "https://nullee.storage.iran.liara.space/phone2.jpg",
  },
];
---

<Layout>
  <div class="flex min-h-screen items-center justify-center">
    <div class="h-96 w-96">
      <div
        class="owl-carousel h-full w-full rotate-90 overflow-hidden bg-primary"
      >
        {
          Array.from(new Array(10)).map((_, i) => (
            <div class="item flex h-12 w-12 items-center justify-center bg-red-50">
              <h4>{i}</h4>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
<script>
  $(".owl-carousel").owlCarousel({
    items: 5,
    nav: true,
    center: true,
    rtl: true,
    dots: false,
    autoplay: true,
    loop: true,
    mouseDrag: true,
    touchDrag: true,
    navText: ["<span>&lt;</span>", "<span>&gt;</span>"],
  });
  $(".owl-carousel").data("owl.carousel").difference = function (
    first,
    second
  ) {
    return {
      x: first.x - second.x + (first.y - second.y),
      y: first.y - second.y,
    };
  };
</script>
<style></style>
