---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Test">
  <div
    class="test flex min-h-screen flex-col items-center justify-center bg-white"
  >
    <div class="flex h-96 w-96 flex-col gap-5 rounded-md border px-5 py-5">
      <div
        class="step-0 relative flex flex-1 items-center justify-center"
        id="box"
      >
        <div
          class="item-1 absolute flex h-full w-full items-center justify-center rounded-lg bg-green-300"
        >
          sadfasfasfafsadfas
        </div>
        <div
          class="item-2 absolute flex h-full w-full items-center justify-center rounded-lg bg-primary"
        >
          dsafsadfsadfsdafsdaf
        </div>
        <div
          class="item-3 absolute flex h-full w-full items-center justify-center rounded-lg bg-pink-500"
        >
          sadfsadfasdfs
        </div>
      </div>
      <div class="z-20 mt-auto flex flex-row-reverse justify-between">
        <button data-next><i class="fa-solid fa-left"></i></button>
        <button data-prev><i class="fa-solid fa-right"></i></button>
      </div>
    </div>
  </div>
</Layout>

<style>
  .item-1,
  .item-2,
  .item-3 {
    @apply translate-y-8 opacity-0;
    transition: opacity var(--opacity-rate) var(--opacity-delay), transform 1s;
    --opacity-rate: 0.3s;
    --opacity-delay: 0s;
    --outgo-opacity-delay: 0s;
    --transform-rate: 0.7s;
  }

  .step-0 .item-1 {
    @apply pointer-events-auto translate-y-0 opacity-100;
    transition: opacity var(--opacity-rate) var(--opacity-delay),
      transform var(--transform-rate);
  }

  .step-1 .item-1 {
    @apply -translate-y-8 scale-90  opacity-75;
    transition: opacity var(--opacity-rate) var(--outgo-opacity-delay),
      transform var(--transform-rate);
  }

  .step-2 .item-1 {
    @apply -translate-y-16 scale-[0.8] opacity-50;
    transition: opacity var(--opacity-rate) var(--opacity-delay),
      transform var(--transform-rate);
  }

  .step-2 .item-2 {
    @apply -translate-y-8 scale-90 opacity-75;
    transition: opacity var(--opacity-rate) var(--opacity-delay),
      transform var(--transform-rate);
  }

  .step-1 .item-2 {
    @apply pointer-events-auto translate-y-0 opacity-100;
    transition: opacity var(--opacity-rate) var(--opacity-delay),
      transform var(--transform-rate);
  }

  .step-2 .item-3 {
    @apply pointer-events-auto translate-y-0 opacity-100;
    transition: opacity var(--opacity-rate) var(--opacity-delay),
      transform var(--transform-rate);
  }
</style>
<script>
  const next = $("[data-next]");
  const prev = $("[data-prev]");

  const box = $("#box");
  let index = 0;
  next.click(function () {
    animate(++index);
    console.log(index);
    if (index >= 2) $(this).attr("disabled", true);
    prev.attr("disabled", false);
  });
  prev.click(function () {
    animate(--index);
    if (index <= 0) $(this).attr("disabled", true);
    next.attr("disabled", false);
  });

  function animate(i) {
    box.removeClass(`step-2`);
    box.removeClass(`step-1`);
    box.removeClass(`step-0`);
    box.addClass(`step-${i}`);
  }
</script>
