<a
  href="#"
  class="ct-category-slider-item relative flex items-center justify-center p-4"
>
  <figure class="flex flex-col gap-3">
    <img src="/assets/images/temporary/index/watch.png" alt="IMAGE CAPTION" />
    <figcaption class="w-full text-center">گوشی موبایل</figcaption>
  </figure>
</a>
