<div class="ct-top-products flex-col bg-primary">
  <div class="relative flex flex-1">
    <div class="absolute h-full w-full">
      <img
        alt="Bits Headphone"
        class="absolute -right-[45%] top-5 scale-[1.5] object-contain xl:-right-[30%] xl:scale-[1.2]"
        src="/assets/images/temporary/index/bits.png"
      />
    </div>
  </div>
  <div class="relative mb-5 mt-auto flex flex-col">
    <img
      src="/assets/images/temporary/index/bits-brand.png"
      class="mx-auto mb-3 w-32 xs:mb-5 sm:mb-8 md:mb-10 xl:mb-8"
      alt="Bits Brand Logo"
    />
    <h3
      class="text-center text-sm font-light text-white xs:text-base xl:text-3xl"
    >
      <span class="mb-2 text-lg font-medium xs:text-2xl xl:text-3xl"
        >هدفون Studio 3</span
      >
      <br />
      بی سیم | حذف نویز واقعی
    </h3>
    <a
      href="#"
      class="ct-read-more select-none text-lg text-white after:border-white xl:my-8"
      >مشاهده بیشتر</a
    >
  </div>
</div>
