<div
  class="ct-top-products flex-col bg-gray-100 bg-gradient-to-b from-transparent to-gray-50 xl:flex-row-reverse xl:px-5"
>
  <div class="relative flex flex-1">
    <div class="absolute flex h-full w-full items-center justify-center">
      <div
        class="mt-8 aspect-square w-1/2 rounded-full bg-primary p-3 shadow-[0_0_90px_10px] shadow-primary sm:w-3/5 lg:w-1/2 xl:w-72"
      >
        <img
          class="aspect-square w-full object-contain"
          src="/assets/images/temporary/index/xiaomi.png"
          alt="Xiaomi Airpad Buds 4 Pro"
        />
      </div>
    </div>
  </div>
  <div
    class="mb-5 mt-auto flex flex-col xl:h-full xl:w-1/2 xl:justify-around xl:py-12"
  >
    <img
      class="relative z-50 mx-auto mt-5 h-12 w-24 object-contain"
      src="/assets/images/temporary/index/xiaomi-brand.png"
      alt="Xiaomi Brand Logo"
    />
    <h3
      class="flex flex-col text-center text-3xl font-bold text-black md:text-3xl lg:text-5xl xl:text-5xl 2xl:text-6xl"
    >
      <span
        class="text-3xl font-light opacity-80 lg:text-6xl xl:text-5xl 2xl:mb-5 2xl:text-6xl"
        >از همه نظر</span
      >
      جذاب است
    </h3>
    <a
      href="#"
      class="ct-read-more select-none text-lg text-primary after:border-primary xl:mt-10"
      >مشاهده بیشتر</a
    >
  </div>
</div>
