<div
  class="ct-club"
  style="background-image: url('/assets/images/index/club-bg.jpg')"
>
  <div
    class="flex items-center text-3xl font-bold text-white md:text-4xl lg:text-7xl"
  >
    CLUB
    <img
      src="/assets/images/logoct.png"
      class="mb-2 aspect-square h-6 md:h-7 lg:mb-4 lg:h-14"
      alt="CT Logo"
    />
  </div>

  <a href="#">وارد شوید</a>
</div>
