<div class="ct-collapsible-accordion">
  <div class="ct-collapsible-item">
    <input type="checkbox" id="contact" checked hidden />
    <label class="ct-collapsible-item-label" for="contact">اطلاعات تماس</label>
    <div class="ct-collapsible-item-content">
      <ul class="flex flex-col gap-1">
        <li><span class="opacity-80">خدمات پس از فروش:</span> 52851-021</li>
        <li>شنبه تا چهارشنبه 17-8:30</li>
        <li>پنج شنبه 12:30-8:30</li>
        <li><span class="opacity-80">ایمیل:</span> nfo@ctelecom.ir</li>
        <li>
          <span class="opacity-80">آدرس ما:</span> تهران،یوسف آباد،خیابان ابن سینا،خیابان
          شایان(23)،پلاک9،ساختمان سی تلکام
        </li>
      </ul>
    </div>
  </div>
</div>
