---
---

<div
  class="ct-special-offering relative flex gap-3 bg-[#fab651] px-10 text-white"
  style="background-image: url('/assets/images/index/open-box.png')"
>
  <div
    class="pointer-events-none absolute left-0 top-0 h-full w-full bg-gradient-to-r from-primary to-transparent opacity-40"
  >
  </div>
  <div class="relative">
    <span></span>

    <div class="flex flex-col gap-1">
      <h2
        class="flex gap-1 text-2xl font-bold md:text-3xl lg:text-4xl xl:text-5xl 2xl:text-7xl"
      >
        پیشنهاد شگفت انگیز
        <span class="mt-1 animate-bounce lg:mt-3">!</span>
      </h2>
      <span
        class="text-[0.92rem] md:text-[1.15rem] lg:text-[1.38rem] xl:text-[1.85rem] 2xl:text-[2.75rem]"
        >پر از پیشنهاد های جور واجور برای تو</span
      >
    </div>

    <a href="#"> بیش از 10 کالا</a>
  </div>
</div>

<style></style>
