---
import Layout from "./Layout.astro";
---

<Layout title="User Basket">
  <div
    class="container mx-auto flex min-h-screen flex-col gap-8 px-2 pb-10 pt-24 lg:gap-20 lg:pt-32 xl:px-32 2xl:px-52"
  >
    <slot />
  </div>
</Layout>
<style is:global></style>
